version: '3.2'
services:
  rabbitmq:
    container_name: 'rabbitmq'
    image: rabbitmq:3-management-alpine
    ports:
      - 8001:5672
      - 15673:15672
    networks:
      - rabbitmq_go_net

  dao:
    container_name: 'dao'
    image: openjdk:17
    ports:
      - "8086:8080"
    volumes:
      - "./../target/Service-1.0-SNAPSHOT.jar:/app/Service-1.0-SNAPSHOT.jar"
    networks:
      - rabbitmq_go_net
    command: [ "java", "-jar", "/app/Service-1.0-SNAPSHOT.jar" ]

  bdd:
    container_name: 'bdd'
    image: postgres
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - "db-m2chausson:/var/lib/postgresql/data"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
networks:
  rabbitmq_go_net:
    driver: bridge

volumes:
  db-m2chausson: